body{
    margin:0;
    font-family: Arial;
    background:#f2f2f2;
}

header{
    background:#d32f2f;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#333;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:40px;
    background:white;
    margin:20px;
}

h2{
    color:#d32f2f;
}

.menu{
    display:flex;
    gap:20px;
}

.item{
    border:1px solid #ccc;
    padding:15px;
    width:30%;
    text-align:center;
}

.item img{
    width:100%;
    height:180px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.3s;
}

.item img:hover{
    transform: scale(1.05);
}

button{
    background:#d32f2f;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}
